<div class="h-100 user-container">
    <table class="w-100 table-responsive table table-striped">
        <thead class="tableHeader">
            <tr class="bg-primary">
                <th>S.No</th>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>JobTitle Name</th>
                <th>Preferred FullName</th>
                <th>Employee Code</th>
                <th>Region</th>
                <th>Phone Number</th>
                <th>Email Address</th>

            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let data of employeeData">
                <td>{{data.slNo}}</td>
                <td>{{data.userId}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.jobTitleName}}</td>
                <td>{{data.preferredFullName}}</td>
                <td>{{data.employeeCode}}</td>
                <td>{{data.region}}</td>
                <td>{{data.phoneNumber}}</td>
                <td>{{data.emailAddress}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="getEmployee()">Get Employee</button>
    <button class="btn btn-primary" (click)="getSingleEmployee()">Single Employee</button>
</div>

