.mat-button{
    margin-top:200px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dropdown1,
  .dropdown2,
  .dropdown {
    margin-right: 20px;
  }
  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment p {
    flex: 1;
  }
  
  
 .editLogo{
    font-size: 18px;
 }
  
  