<div class="container-fluid d-flex w-100 h-100 m-0 p-0">
       <div class="arrow" (click)="arrowClick()">
  
            <i class="fa-solid fa-circle-chevron-right"></i>
          </div>
      <aside class="h-100 position-relative p-2" [ngClass]="showAside ? 'class-if-true'  : 'class-if-false'">
      <div class="logo w-100">
        <img src="../assets/logo.png" alt="">
      </div>
      <ul> 
        <div><a><i class="fa-solid fa-user"></i> Welcome: {{loggedInUser}} </a></div>
    <li (click)="navigateTo('user')" [class.active]="user"><a><i class="fa-solid fa-user"></i> Users/Team</a></li>
    <li (click)="navigateTo('project')" [class.active]="project"><a><i class="fa-solid fa-diagram-project"></i> Project</a></li>
    <li (click)="navigateTo('task')" [class.active]="task"><a><i class="fas fa-tasks"></i> Task</a></li> 
    <li (click)="navigateTo('dashboard')" [class.active]="dashboard"><a><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/login"><i class="fas fa-sign-out-alt login-icon"></i> Log out</a></li>  
    </ul>
     </aside>
     <section class="h-100 p-2">
      <app-users-team *ngIf="user"></app-users-team>
      <app-project *ngIf="project"></app-project>
      <app-task *ngIf="task"></app-task>
      <app-dashboard *ngIf="dashboard"></app-dashboard>
     
     </section>
    </div>
    
  